@import "root-vars.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--body-background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #f9f9f9;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: 500px;
    height: 80%;
    display: grid;
    /* creating grid */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    overflow: scroll;
}
/*writing styles for sections*/

/*search*/
#search{
    background-color: lightblue;
    grid-column: 1/-1;
}
/*weather-icon*/
#weather-icon{
    background-color: aqua;
    grid-column: 1/-1;
}
/*weather-info*/
#weather-info{
    background-color: yellow;
    grid-column: 1/2;
}

/*wind*/
#wind{
    background-color: lightgreen;
}

/*forecast*/
#forecast{
    background-color: orange;
    grid-column: 1/-1;
}