@import "root-vars.css";

/* designing spinner container */
.spinner-container {
    position: absolute;
    width: 100%;
    background-color: var(--card-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.hidden {
    display: none;
}

#spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--button-background-color);
    border-top-color: var(--button-hover-background-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}